<p>JCL:<%= @e_jcl['jcl'] %> </P>
<form action='/jcl/<%= @e_jcl['_id'] %>'  method='post' class="form-inline well">
  <input type="text" name='cle' placeholder="cle a ajouter ou modifier" autofocus>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name='valeur' placeholder="valeur" autofocus>
  
  <input class="btn primary" type='submit' value='Envoyer'>
</form>

<table border='1'>
<% @e_jcl.keys.each do |k| %>

<tr>
<td> <%=  k %></td>
<% if @e_jcl[k].to_s.size  < 200 then %>
<td><%=  @e_jcl[k] %></td>
<% else %>
<td> file </td>
<% end%>
</tr>
<% end %>

</table>
